* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fff500;
  color: rgb(209, 85, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slika {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.container {
  width: 100%;
  max-width: 320px;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 10px;
  color: aliceblue;
}

p {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 20px;
}

.btn {
  display: block;
  background: #000000;
  color: white;
  text-decoration: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #9dba0a;
}

.btn:hover {
    transform: scale(1.05);
}